.sidebar{
    display: flex;
    flex-direction: column;
    top: 060px;
    bottom: 0;
    left: 0;
    width: 70px;
    position: fixed;
    align-items: center;
    border-right: 1px;
    border-right-style: solid;
    border-right-color: rgb(235, 232, 232);
}
.option {
    display: flex;
    flex-direction: column; 
    height: 60px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-left: 0;
    background-color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.option:hover {
box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
background-color: rgb(243, 239, 239);
}
.ic {
    height: 24px;
}
.ict{
    font-size: 10px;
    margin-top: 7px;
}